@import './variables.scss';

html,
body {
  font-family: 'Inter', 'Noto Sans JP', Roboto, 'Droid Sans', sans-serif;
  color: $my-black;
}

p,
ul,
ol {
  margin-bottom: 2em;
}

img {
  max-width: 100%;
  height: auto;
}
