// color variables
$pure-black: #000000;
$my-black: #34423c;
$white: #ffffff;
$pure-white: #f9f9f9;
$gray: #cfd4d2;
$dark-gray: #acb5b1;
$light-gray: #dee1e0;

$primary-color: #196840;
$secondary-color: #fbc95c;
$success-color: #439cfe;
$danger-color: #d23a01;

// breakpoint mixin
$breakpoint: (
  sp: 'screen and (max-width: 767px)',
  tab: 'screen and (min-width: 768px)',
  pc: 'screen and (min-width: 992px)',
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
