@import '@/styles/variables.scss';

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'blank logo icon';
  justify-content: space-between;
  align-items: center;
  width: 95%;
  min-height: 80px;
}

.logo {
  grid-area: logo;
  font-size: map-get($font-size, xxl);
  text-align: center;
}

.iconWrap {
  grid-area: icon;
  width: fit-content;
  margin-left: auto;
  padding: 5px;
  border: 1px solid $dark-gray;
  border-radius: 4px;
}

.menuIcon {
  color: $my-black;
}

@include mq(pc) {
  .header {
    display: none;
  }
}

@include mq(tab) {
  .header {
    display: none;
  }
}
